/*column-gap 속성: 컬럼들간의 간격을 조절
row-gap 속성: 행들간의 간격을 조절
grid-gap 속성: 컬럼, 행 간격을 한 번에 조절*/
.container {
    display: grid;
    margin: 20px;
    grid-template-columns:repeat(4, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;

    /* ===================================== */
    /* column-gap : 20px;
    row-gap : 10px; */

    /* ===================================== */
    /* 첫 번째 값이 행의 간격, 두 번째 값이 컬럼의 간격 */
    gap : 100px 20px;
}



.box1 {
    background: red;
}

.box2 {
    background: green;
}

.box3 {
    background: blue;
}

.box4 {
    background: brown;
}

.box5 {
    background: violet;
}

.box6 {
    background: yellow;
}

.box7 {
    background: aqua;
}

.box8 {
    background: lightgreen;
}