ul{
    list-style-type:none;
}
li{
    display: inline-block;
    border:1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin:10px;
}